.counterButton{
    border-radius:30px;
    font-size:15px;
    background-color:#00a5ab;
    width:100px;
    margin:10px;
    color:white;
    padding:15px;
    border-color: black;
    border-width: 5px;
}