/* const cssBtn = {
    borderRadius:"30px",
    fontSize:"15px",
    backgroundColor:"#00a5ab",
    width:"100px",
    margin:"10px",
    color:"white",
    padding:"15px"
}; */

.totalCount{
    font-size: 150px;
    padding: 20px;
    color:#00a5ab;
}

